html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap {
	margin-left: -310px;
	margin-top: -350px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 620px;
	height: 700px;
}
#interface:after {
	content:'';
	display: block;
	clear: both;
}
#interface .start_btn {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 40px;
	border: 1px solid blue;
	background: orange;
}
#interface p {
	float: left;
	margin-left: 40px;
	font-size: 20px;
	line-height: 40px;
}
#interface #timer {
	width: 140px;
}
.card {
	position: relative;
	float: left;
	width: 80px;
	height:91px;
	margin:10px;
	cursor: pointer;
}
.front,.back {
	perspective: 600px;
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 91px;
}
.show {
	transition: all .5s ease-out;
	transform: rotateY(0deg);
}
.closed {
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.hidden {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


#footer {
	margin: 0 auto;
	width: 620px;
}
.wrong {
	margin-left: 10px;
}